* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1344px;
  margin: 0 auto;
}

button,
a,
ul,
li,
input {
  text-decoration: none;
  background: none;
  list-style-type: none;
  outline: none;
  border: none;
}

.footer {
  background-color: #2b2846;
  color: #fff;
}

.footer-wraper {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 1px solid #fff;
}

.footer-ft-1 {
  display: flex;
  gap: 32px;
}

.footer-link__item {
  padding-top: 8px;
  text-decoration: underline;
}

.footer-ft-2-label {
  padding-bottom: 16px;
}

.footer-title {
  display: block;
  color: #f7d5ae;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.32px;
  text-align: left;
}

.footer-ft-2-input {
  width: 60%;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #F7D5AE;
  background-color: #fff;
  padding: 14px 16px;
}
.footer-ft-2-input::placeholder {
  color: #bebcc5;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.08px;
  text-align: left;
}

.footer-ft-2-btn button {
  background-color: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  color: #2B2846;
  padding: 14px 16px;
}

.footer-ft-3-label {
  padding-bottom: 16px;
}

.footer-ft-3-tel {
  padding-bottom: 4px;
}

.footer-ft-4-label {
  padding-bottom: 16px;
}

.footer-ft-4-logo {
  margin-right: 12px;
}

.footer-bottom {
  padding-top: 32px;
  padding-bottom: 66px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.32px;
  text-align: left;
}

/*# sourceMappingURL=main.css.map */
